<%
    var big_title = "指紋機設備設定";
    var bar_title = "指紋機資料維護";
%>
<div id="wrapper">

<%- partial("../layout/left") %> 

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><%=big_title%></h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading">
						<%=bar_title%>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="row">
                            <!--
							<div class="col-lg-12">
								<div class="form-group">
									<a href="<%=link_to_add%>" class="btn btn-primary">新增<i class="fa fa-plus-circle fa-fw"></i></a>
								</div>
							</div>
							 /.col-lg-12 -->
						</div>
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="dataTables-example" width="100%">
								<thead>
									<tr>
										<th>連結裝置PK</th>
										<th>產品識別碼</th>
										<th>廠商識別碼</th>
										<th>版本</th>
										<th>速度</th>
										<th>製造商</th>
										<th>位置識別碼</th>
										<th>產品名稱</th>
										<th>資料更新時間</th>
										<!--<th>編輯</th>-->
									</tr>
								</thead>
							</table>
						</div>
						<!-- /.table-responsive -->					
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>		
	</div>
	<!-- /#page-wrapper -->
</div>
	<script>
	$(document).ready(function() {
        var column_array = [
            { "mData": "ds_ap_id" },
            { "mData": "ds_device_id" },
            { "mData": "ds_co_id" },
            { "mData": "ds_ver" },
            { "mData": "ds_speed" },
            { "mData": "ds_co" },
            { "mData": "ds_addr" },
            { "mData": "ds_product" },
            { "mData": "updatedAt" },
            // { "mData": "final_modify" }
        ];
        create_ajaxtable('dataTables-example', '/api/ds_fingerprint_device/viewall', column_array);
	});
	</script>